.bar {
  width: 100%;
  padding: 20px;
  background-color: #00afcc;
  color: #fff;
  font-size: 24px;
  display: flex;
}

.icon {
  font-size: 20px;
  color: #fff;
}

.menuLink {
  margin-right: 15px;
}

.loginLinkContainer {
  display: flex;
  flex-grow: 2;
}
