/**
 * styles.css
 *
 * App container styles
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

.container {
  display: block;
  /*width: 98%;*/
}

body {
  font-family: Roboto;
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
}
